/.ipynb_checkpoints
/aba
/Dogs vs cats.ipynb
/Fashion_mnist.ipynb
/hojas
/holamundo.py
/numpy.ipynb
/pandas.ipynb
/pruebas.py
/Pruebas_en_jupyter.ipynb
/pruebas_py.py
/Reco num Red Neuronal Densa.py
/Rec_num_red_neuronal_conv.py
/Rec_num_red_neuronal_conv.txt